<head><h1>All Cars</h1></head>
<br>
<% @cars.each do |car| %>
<ol><h2><%= car.makemodel %></h2></ol>
<li>MPG:<%= car.mpg %></li>
<li>For Sale?: <%= car.for_sale %></li>
<li>Price:<%= car.cost %></li>
<% end %>